/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "LED";
  src: url("../fonts/LED_Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*=============== VARIABLES CSS ===============*/

:root {
  --header-height: 3.5rem;
  --border-section: 56px 56px 0 0;
  /*========== Colors ==========*/
  --color-bg-dark: #1e1e1e; /* Fundo Escuro */
  --color-text-light: #e0e0e0; /* Texto Principal */
  --color-timer-red: #d9534f; /* Vermelho de Urgência */
  --color-zombie-green: #5cb85c; /* Verde Mofo/Sujeira (Feedback Positivo) */
  --color-zombie-red: #8b0000; /* Vermelho Escuro de Sangue (Penalidade) */
  --color-action-button: #a03c3c; /* Botão de Ação Sujo */
  --color-action-button-hover: #b54a4a;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Inter", sans-serif;
  --second-font: "Orbitron", cursive;
  --biggest-font-size: 2.75rem;
  --big-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-regular: 400;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--body-font);
  color: var(--color-text-light);
  font-size: var(--normal-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 4.5rem 3.5rem;
}

.section__title {
  color: var(--title-color);
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-regular);
  line-height: 120%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== JOGO ===============*/
.game-container {
  width: 100%;
  height: 100vh;
  max-width: 450px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  padding: 0.625rem; /* 10px */
  border: 5px solid #333;
  position: relative;
  overflow: hidden;
  background-color: var(--color-bg-dark);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect width="100%" height="100%" fill="rgba(30, 30, 30, 0.9)"/><rect x="0" y="0" width="10" height="10" fill="rgba(100, 100, 100, 0.1)"/></svg>'),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7) inset;
}

/*=============== BOTÕES ===============*/
.icon-button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0.625rem; /* 10px */
  font-size: var(--big-font-size);
  color: var(--color-text-light);
  transition: color 0.3s;
  &:hover {
    color: var(--color-action-button-hover);
  }
}

.icon-button:active {
  opacity: 0.7;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0; /* 10px */
}

/*=============== TIMER ===============*/
.timer-style {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 5px;
  padding: 0.625rem 1.25rem;
  color: var(--color-timer-red);
  font-weight: var(--font-medium);
  font-family: var(--second-font);
  border: 3px solid var(--color-timer-red);
  box-shadow: 0 0 0.3125rem var(--color-timer-red);
}

#pause-play-button {
  font-size: 5rem;
  color: var(--color-text-light);
  transition: 0.3s;
  &:active {
    opacity: 0.7;
  }
}
